# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

#vagrant folder
/.vagrant

#yii2 runttime folder
/runtime

# yii2 assets folder
/web/assets

#yii2 upload folder
/web/uploads

# yii2 database connection file
/config/db.php

# other
/.php-cs-fixer.cache
/.env

# front package
/package.json
/node_modules
/.stylelintrc.json
/.eslintignore
/.eslintrc.cjs
